* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    /* font-family: 'JetBrains Mono Bold', monospace; */
    background-color: #15171B;
}

header {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'JetBrains Mono Bold', monospace;
    color: white;
    padding: 20px 0;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* behind content */
}

nav, ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.quarter-section {
    position: relative;
    width: 150px;
    height: 40px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    border: 1px solid #fffafa;
    font-family: 'JetBrains Mono Light', monospace;
    font-size: 14px;
    background-color: #363636;
    color: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: default;
    padding-left: 30px;
}

.quarter-section:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

.quarter-section::before {
    content: '';
    position: absolute;
    left: 17px;
    width: 12px;
    height: 12px;
    background-color: green;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    top: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.quarter-section::after {
    content: '';
    position: absolute;
    left: 20px;
    width: 6px;
    height: 6px;
    background-color: lightgreen;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    top: 20px;
    transform: translateY(-50%);
    z-index: 2;
}

/* Pulse animation */
@keyframes pulse {
    0% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-50%) scale(1.4);
        opacity: 0.6;
    }
    100% {
        transform: translateY(-50%) scale(1);
        opacity: 1;
    }
}

.title {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    font-family: 'JetBrains Mono Bold', monospace;
    font-size: 3rem;
    padding: 0 150px;
    color: white;
    margin-top: 50px;
}

.subtitle {
    max-width: 1440px;
    width: 90%;
    margin: 20px auto;
    padding: 0 210px;
    text-align: left;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
    color: #CCCCCC;
}
  

/* .navigation {
    border: 1px red solid;
} */

.skills-section {
    max-width: 1250px;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.85);
    color: #fff;
    font-family: 'JetBrains Mono Bold', sans-serif;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill-category {
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.95);;
    flex: 1 1 calc(33% - 40px);
    box-sizing: border-box;
    min-width: 280px;
}

.skill-category h3{
    margin-top: 0;
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
}

.icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.skill-icon {
    width: 48px; /* Adjust size of icons */
    height: 48px;
    object-fit: contain;
    transition: transform 0.2s;
}
.skill-icon:hover {
    transform: scale(1.2);
    filter: grayscale(0);
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}